<div class="center hero-unit main_things">

  <h2>
    Voices of women, Resounding
  </h2>

  <div id="map-canvas"/>

  <div class="facespic">
    <a href="/">
      <%= image_tag "about-hero-bg_short.jpg" %>
    </a>
  </div>


</div>