

<div class="center hero-unit">
  <h1>#CHIMEFORCHANGE</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <div class="facespic">
  <a href="/">
   <%= image_tag "about-hero-bg_short.jpg" %>
  </a>
  </div>

  <div class="logo">
  <a href="/">
   <%= image_tag "chimeforchange-logo.png" %>
  </a>
  </div>

</div>