<<<<<<< HEAD
<div class="center hero-unit main_things">

  <h2>
    Voices of women, Resounding
  </h2>

  <div id="map-canvas"/>

  <div class="facespic">
    <a href="/">
      <%= image_tag "about-hero-bg_short.jpg" %>
    </a>
  </div>


=======
<script src="http://richhollis.github.com/vticker/downloads/jquery.vticker.js?v=1.14"></script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<div id="tweet_data"></div>
<div>
  <%= render 'home/map' %>
>>>>>>> 6a6bb13e78817a9ca5c4e3be40b8358f8621a74a
</div>