<div class="center hero-unit">
  <h1>#CHIMEFORCHANGE</h1>

  <h2>
    Voices of women, Resounding
  </h2>

  <div class="facespic">
  <a href="/">
   <%= image_tag "about-hero-bg_short.jpg" %>
  </a>
  </div>


</div>