
<div class="center hero-unit main_things">

  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  <script src="http://richhollis.github.com/vticker/downloads/jquery.vticker.js?v=1.14"></script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <div id="tweet_data"></div>

  <div id='map-container' class="col-6">
    <div id="map-canvas"/>
  </div>

</div>



<!--   <div class="facespic">
    <a href="/">
      <%= image_tag "about-hero-bg_short.jpg" %>
    </a>
  </div> -->