// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

// override for the 'Home' navigation link
.navbar {
  padding-top: 5px;
}

.navbar-brand {
  font-size: inherit;
  }

// .navbar-left {
//  padding-left: 10px;
// }



.navbar-item {
  width: 25%;
  color: white;
  div {
  display: inline;
  }
}

.main-container-div {
  height: 100%;
  width: 100%;
}

#tweet-data {
  height: 100%;
  width: 100%;
}

#map-canvas { 
  height: 100%;
  width: 100%;
  position: relative;
}

.main_things {
  color: #fff;
}

.main_class {
  width: 90%;
}

// body { padding-top: 70px; }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background: transparent url("shell/bg-tile.png") fixed repeat 0 -45px;
  background-color: #693b59;
  padding-top: 5px;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }



