<%# navigation styled for Twitter Bootstrap 3.0 %>
<div class="container">
  <nav class="navbar navbar-inverse" id="ournav">
      <span><%= link_to(image_tag("chimeforchange-logo.png"), root_path, :class => "navbar-brand") %></span>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
      <a class="navbar-brand" href="#"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
        <li><a href="#">Education</a></li>
        <li><a href="#">Justice</a></li>
        <li><a href="#">Health</a></li>
      </ul>
    </div> 

  </nav>
</div>
